@import '../colors.css';
@import '../variables.css';
@import './config.css';

/* #popoverMenu */
.menuList {
	& button {
		width: 100%;
		& span {
			padding: 0px 10px;
			&[data-react-toolbox="ripple"] {
				display: none;
			}
			& i {
				padding-left: 10px;
				color: #938F8F;
			}			
		}
		&:hover {
			& span {
				color: var(--primary-color);
			}
		}
		&:active {
			& span {
				color: var(--active-color);
			}
		}
	}
	& > div[data-react-toolbox="menu"] {
		left: 0;
		top: 65px;
		z-index: 99;
		& > div {
			box-shadow: var(--popover-shadow);
			border-radius: 4px;
			&:before { 
				top: -14px;
				content: " ";
				width: 0px;
				height: 0px;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-top: 20px solid rgb(255, 255, 255);
				text-align: center;
				left: 10px;
				position: absolute;
				z-index: -1;
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
				opacity: 1;
				background-color: transparent;
				box-shadow: 0 2px 50px 0 rgba(0,0,0,0);
			}
		}
	}
	& ~ a {
		& i {
			padding: 5px;
			color: #938F8F;
		}
	} 
}