@import '../colors.css';
@import '../variables.css';
@import './config.css';

.statusChartContainer {
	width: 100%;
	display: table;
	padding: 20px;
	& .statusChartDiv {
	    width: 50%;
	    display: table-cell;
	    min-height: 150px;
	    padding: 12px 5px;
	    border: 1px solid #EDEDED;
	    vertical-align: top;
		& .statusChartLink {
			color: #232323;
			text-decoration: none;
		}
		& .statusChartDesc {
			display: block;
			text-align: center;
			font-size: 14px;
			opacity: 0.7;
		}
		& .statusChartTitle {
			color : var(--primary-color);
			font-size: 40px;
			font-weight: 600;
			display: block;
			text-align: center;
		}
	}
}