@import '../colors.css';
@import '../variables.css';
@import './config.css';

[data-react-toolbox="dpl-palette"].dplpalette {
	float: left;
	width: 165px;
	margin: 0 15px;
	height: 240px;
	& .paletteCardMedia {
		height: 120px;
	}
	& .paletteCardTitle {
		height: 116px;
		& h5 {
			color: #232323;
			font-size: 18px;
			font-weight: 600;
			line-height: 28px;
		}
		& p {
			opacity: 0.7;
			color: #232323;
			font-size: 18px;
			line-height: 23px;
		}
	}
}
[data-type="secondary"] {
	& .paletteCardMedia {
		background: var(--active-color);
	}
}
[data-type="primary"] {
	& .paletteCardMedia {
		background: var(--primary-color);
	}
}
[data-type="accent"] {
	& .paletteCardMedia {
		background: var(--hover-color);
	}
}